.library {
  font-family: Verdana, Geneva, sans-serif;
  margin: 50px auto 0 auto;
  width: 840px;
}

.library h1 {
  font-size: 32px;
}

.book-list {
  margin-top: 20px;
}

.book-list-items {
  padding: 0;
}

.book-item {
  font-size: 14px;
  list-style: none;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

.book-item.expanded {
  background: #f5f5f5;
  height: unset;
  padding: 10px;
}

.book-details {
  line-height: 1.3;
}

.book-hdr {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

.expanded .book-hdr {
  text-decoration: underline;
}

/* https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-left: 10px;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.book-description {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.book-description p {
  margin-bottom: 10px;
}

.book-addl-info {
  display: inline-block;
  margin-left: 20px;
  width: 300px;
}

.book-stats td:nth-child(2) {
  padding-left: 50px;
}

.book-genres {
  margin-top: 10px;
}

.similar-books {
  margin-top: 10px;
}

.book-genres h3,
.similar-books h3 {
  text-decoration: underline;
  margin-bottom: 5px;
}

.book-genres li,
.similar-books li {
  list-style-type: square;
  margin-left: 20px;
}

.similar-books li {
  font-style: italic;
}
